:root{
    --color-principal: #1B95D8;
    --color-principal-alfa: #1b96d871;
    --color-cards: #faebd7;
    --color-botones: #E8771B;
    --color-botones-alfa: #e8771ba4;
}
.cont-clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 85px;
}

.cont-add-ruta{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: var(--color-principal-alfa);
    margin: 0 15px 95px 0;
}

#add-cliente span{
    font-size: 2.5rem;
    color: #000000; 
}

#default-text{
    font-size: 2rem;
    text-align: center;
    color: #0000007c;
}
#lista-clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    gap: 10px;
    background-color: var(--color-principal-alfa);
}

/* Diseño para los divs agregados para los clientes  */
.cliente-div{
    display: flex;
    width: 90%;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #5e5e5e;
}

.cliente-div p{
    font-size: 1.4rem;
    font-weight: 800;
}
.info-cliente{
    width: 100%;
    padding: 10px;
    padding-left: 20px;
}
/* Icono mas informacion */
.more-info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cards);
    border-radius: 10px 0 0 10px;
    padding: 5px;
}
.more-info span{
    font-size: 2.1rem;
    color: var(--color-botones);
}

/* modal para mostrar la informacion complera de la ruta */
.cont-modal-cliente.hidden{
    display: none;
}
.cont-modal-cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #00000080;
    z-index: 900;
}
.modal-info-cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}
#btn-cerrar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 35px;
    color: #fff;
    padding-bottom: 10px;
}

#btn-cerrar span{
    background-color: var(--color-botones);
}
.div-info-cliente{
    width: 90%;
    text-align: left;
}
.div-info-cliente p{
    font-size: 1.2rem;
}
.div-info-cliente p span{
    font-weight: 800;
}