:root{
    --color-principal: #1B95D8;
    --color-principal-alfa: #1b96d871;
    --color-cards: #faebd7;
    --color-botones: #E8771B;
    --color-botones-alfa: #e8771ba4;
}
.cont-clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 85px;
}

.cont-add-ruta{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: var(--color-principal-alfa);
    margin: 0 15px 95px 0;
}

#add-cliente span{
    font-size: 2.5rem;
    color: #000000; 
}

#default-text{
    font-size: 2rem;
    text-align: center;
    color: #0000007c;
}
#lista-clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    gap: 10px;
    background-color: var(--color-principal-alfa);
}

/* Diseño para los divs agregados para los clientes  */
.cliente-div{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 15px;
    width: 80%;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #5e5e5e;
}

.cliente-div p{
    font-size: 1.2rem;
}
.cliente-div p span{
    font-size: 1.4rem;
    font-weight: 800;
}


.posicion-ruta{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #5e5e5e;
    margin: 5px;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: var(--color-botones-alfa);
}