.cont-liquidar-clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 85px;
}

#liquidar-cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(160, 186, 255, 0.685);
    border-radius: 5px;
    width: 70%;
}
#liquidar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.div-cliente{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-left: 10px;

}

.div-cliente p{
    font-size: 1rem;
}
.div-cliente span{
    font-size: 1rem;
}
#posicion-ruta{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #00000094;
    margin: 5px;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
}

/* contenedor de las flechas left and right */


.arrow-left{
    position: absolute;
    left: 5px;
}
.arrow-left span{
    font-size: 2.5rem;
    color: #000000;
}
.arrow-right{
    position: absolute;
    right: 5px;
}
.arrow-right span{
    font-size: 2.5rem;
    color: #000000;
}
/* ----------------------------------------- */

.cont-abono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

/* Boton para agregar nuevo cliente */
.cont-add-ruta{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #1b96d8be;
    margin: 0 15px 95px 0;
}
#add-cliente span{
    font-size: 2rem;
    color: #000000; 
}