.cont-nuevo-cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 85px;
}
.nuevo-cliente{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* -------formulario------- */
.form-nuevo-cliente{
    width: 85%;
}
.cont-form1{
    display: flex;
    flex-direction: column;
}
.cont-form2{
    display: flex;
    flex-direction: column;
    
}
.cont-valor-interes{
    display: flex;
    gap: 10px;
}
.valor{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.interes{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.cont-ruta-cuota{
    display: flex;
    gap: 10px;
}
.ruta{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.cuota{
    display: flex;
    flex-direction: column;
    width: 40%;
}
/* ------------------ */

/* clase para ocultar */
.hidden{
    display: none;
}
/* ------------------ */

/* barra de progreso de formulario */
#barra-progreso{
    position: relative;
    width: 50%;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}
.progreso{
    width: 50%;
    height: 8px;
    border-radius: 5px;
    background-color: #4CAF50;
    transition: width 1s ease-in-out;;
}
.progreso.completa{
    width: 100%;
}
/* ------------------------------- */


/* boton para pasar el formulario */
.cont-next{
    display: flex;
    justify-content: right;
}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40px;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    margin-top: 10px;
}
/* --------------------------------- */
/* Informacion que se muestra en el formulario de nuevo cliente. */
.info-ruta{
    font-size: 1rem;
    color: #00000071;
    font-weight: 600;
}