.cont-nueva-ruta{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 85px;
}

.nueva-ruta{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.form-nueva-ruta{
    width: 90%;
}
.cont-form{
    display: flex;
    flex-direction: column;
}